#finalScore {
  width: 70%;
  margin: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 16%);
  color: #00ff00;
}

.end-form-container {
  width: 70%;
  margin: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 16%);
}

input {
  margin-bottom: 12px;
  width: 75%;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0  hsl(0, 0%, 16%);
}

input::placeholder {
  color: #00ff00;
  text-align: center;
}

#username {
  margin-bottom: 3rem;
  width: 100%;
  outline: none;
}

#end-text {
  font-size: 2.4rem;
  color: #ff3399;
  text-align: center;
}

#saveScoreBtn {
  border: none;
}