body {
    color: white;}

.container {
    justify-content: center;
    display:flex;
}

#game {
    background-color: hsl(0, 0%, 16%);
    width: 70%;
    margin: 20px;
    border-radius: 4px;
}

#question {
    padding-left: 12px;
}

.choice-container {
    display: flex;
    margin: 12px;
    padding-left: 12px;
    width: 97.5%;
    border-radius: 4px;
    background-color: #ff3399;
    font-size: 1.25rem;
    /* box-shadow: hsl(0, 0%, 16%) 3px 3px 3px 3px; */
}

.choice-container:hover {
    cursor: pointer;    
    background-color: #00ff00;
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background-color: #ff3399;
}

.incorrect {
    background-color: hsl(0, 0%, 16%);
}

/* heads up display */
#hud {
    display: flex;
    justify-content: space-between;
    padding: 0 12px 0 12px;

}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

.hud-main-text#score {
    color: #00ff00;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid #00ff00;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background-color: #ff3399;
    width: 0%;
}

@media screen and (max-width: 768px) {
    .container {
        width: 75%;
    }
    .choice-container {
        min-width: 75%;
    }
    body {
        background-color: #00ff00;
}

