.container {
    background-color: hsl(0, 0%, 16%);
    width: 70%;
    margin: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

