@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Xanh+Mono:ital@0;1&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../assets/cheetahprint.jpg');
  background-repeat: repeat;
  background-color: #ff3399;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 2px;
  /* padding-top: 0px; */
  color: white;
  background-color: hsl(0, 0%, 16%);
  border-radius: 4px;
  width: 75%;
  margin-left: 157px;
}

h1 {
  font-family: 'Xanh Mono';
  color: #ff3399;
}

h2 {
  font-family: 'Xanh Mono';
  color: #00ff00;
}

h3 {
  font-family: 'Xanh Mono';
  color: white;
  font-size: x-large;
}

p {
  font-family: 'DotGothic16';
  color: white;
}

.card {
  background-color: hsl(0, 0%, 16%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: hsl(0, 0%, 16%) 0px 2px 8px 0px;
  color: white;
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header {
  font-family: 'Xanh Mono';
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: hsl(0, 0%, 16%);
  height: 2px;
}

.card-body {
  min-height: 100px;
  font-family: 'DotGothic16';
  color: white;
  background-color: hsl(0, 0%, 16%);
  border-radius: 4px;
  text-align: center;
}

.card-body::before {
  content: " ";
  display: block;
  width: 100%;
  /* background: #e7e9eb;
  height: 2px; */
}

.card-body::after {
  content: " ";
  display: block;
  /* clear: both; */
}

.btn {
  color: hsl(0, 0%, 16%);
  border-color: hsl(0, 0%, 16%);
  border-radius: 25px;
  box-shadow: hsl(0, 0%, 16%) 3px 3px 3px 3px;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 25px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
}

.btn:hover {
 color: white;
 cursor: pointer;
 transition: transform 150ms;
 transform: scale(1.15);
}

button[disabled]:hover {
  cursor: not-allowed;
  transform: none;
  background: hsl(0, 0%, 16%);
  color: white;
}

a#start-btn.btn {
  font-family: 'DotGothic16';
  background-color: #ff3399;
}

a#highscore-btn.btn {
  font-family: 'DotGothic16';
  background-color: #00ff00;
}

.float-right {
  float: right;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}

/* End Page CSS */
.end-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: ;
}

input {
  margin-bottom: 12px;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0  hsl(0, 0%, 16%);
}

input::placeholder {
  color: #00ff00;
}

#username {
  margin-bottom: 3rem;
  width: 100%;
  outline: none;
}

#end-text {
  font-size: 2.4rem;
  color: #ff3399;
  text-align: center;
}

#saveScoreBtn {
  border: none;
}



/* GOOGLE FONTS:
Question = Xanh Mono
Answers = DotGothic16 */
